<h1>Listing coredealers</h1>

<table>
  <thead>
    <tr>
      <th>Membership no</th>
      <th>Agency name</th>
      <th>Total</th>
      <th>Average value</th>
      <th>Tonnage per month</th>
      <th>Email</th>
      <th>Mobile number</th>
      <th>Contact person</th>
      <th>Communication address</th>
      <th>Zone</th>
      <th>State</th>
      <th>Sales district no</th>
      <th>Sales district description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coredealers.each do |coredealer| %>
      <tr>
        <td><%= coredealer.membership_no %></td>
        <td><%= coredealer.agency_name %></td>
        <td><%= coredealer.total %></td>
        <td><%= coredealer.average_value %></td>
        <td><%= coredealer.tonnage_per_month %></td>
        <td><%= coredealer.email_id %></td>
        <td><%= coredealer.mobile_number %></td>
        <td><%= coredealer.contact_person %></td>
        <td><%= coredealer.communication_address %></td>
        <td><%= coredealer.zone %></td>
        <td><%= coredealer.state %></td>
        <td><%= coredealer.sales_district_no %></td>
        <td><%= coredealer.sales_district_description %></td>
        <td><%= link_to 'Show', coredealer %></td>
        <td><%= link_to 'Edit', edit_coredealer_path(coredealer) %></td>
        <td><%= link_to 'Destroy', coredealer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coredealer', new_coredealer_path %>
