<p id="notice"><%= notice %></p>

<p>
  <strong>Membership no:</strong>
  <%= @coredealer.membership_no %>
</p>

<p>
  <strong>Agency name:</strong>
  <%= @coredealer.agency_name %>
</p>

<p>
  <strong>Total:</strong>
  <%= @coredealer.total %>
</p>

<p>
  <strong>Average value:</strong>
  <%= @coredealer.average_value %>
</p>

<p>
  <strong>Tonnage per month:</strong>
  <%= @coredealer.tonnage_per_month %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coredealer.email_id %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @coredealer.mobile_number %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @coredealer.contact_person %>
</p>

<p>
  <strong>Communication address:</strong>
  <%= @coredealer.communication_address %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @coredealer.zone %>
</p>

<p>
  <strong>State:</strong>
  <%= @coredealer.state %>
</p>

<p>
  <strong>Sales district no:</strong>
  <%= @coredealer.sales_district_no %>
</p>

<p>
  <strong>Sales district description:</strong>
  <%= @coredealer.sales_district_description %>
</p>

<%= link_to 'Edit', edit_coredealer_path(@coredealer) %> |
<%= link_to 'Back', coredealers_path %>
