<p id="notice"><%= notice %></p>

<p>
  <strong>Membership no:</strong>
  <%= @coredealer.MEMBERSHIP_NO %>
</p>

<p>
  <strong>Agency name:</strong>
  <%= @coredealer.AGENCY_NAME %>
</p>

<p>
  <strong>Total:</strong>
  <%= @coredealer.Total %>
</p>

<p>
  <strong>Average value:</strong>
  <%= @coredealer.Average_value %>
</p>

<p>
  <strong>Tonnage per month:</strong>
  <%= @coredealer.Tonnage_Per_Month %>
</p>

<p>
  <strong>Email id:</strong>
  <%= @coredealer.Email_ID %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @coredealer.Mobile_Number %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @coredealer.Contact_Person %>
</p>

<p>
  <strong>Communication address:</strong>
  <%= @coredealer.Communication_Address %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @coredealer.Zone %>
</p>

<p>
  <strong>State:</strong>
  <%= @coredealer.STATE %>
</p>

<p>
  <strong>Sales district no:</strong>
  <%= @coredealer.Sales_District_no %>
</p>

<p>
  <strong>Sales district description:</strong>
  <%= @coredealer.Sales_District_Description %>
</p>

<%= link_to 'Edit', edit_coredealer_path(@coredealer) %> |
<%= link_to 'Back', coredealers_path %>
